<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sleeping King Studios</h1>
    <p>
      <%= @contact.email_address %> sent a contact request at <a href="sleepingkingstudios.com/contact.html">sleepingkingstudios.com/contact</a>.
    </p>
  </body>
</html>
